[user]
	email = git@vidarmagnusson.com
    name = Vidar Magnusson

[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true

[merge]
    conflictstyle = zdiff3
